#上部{
    width: 1200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#背景{
       z-index: -10;
       background-color: aliceblue;
 }
#总体{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#头像{
    margin-top: 40px;
}
#头像区{
    height: 350px;
    width: 310px;
    background-color: aqua;
    box-shadow: 4px 4px 8px #e7e6e6;
}
.avatar-uploader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.avatar-uploader .el-upload {
    border: 10px dashed #7a7878;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  #头像区 img{
    border-radius: 50%;
    border-width :8px;
    border-color:white ;
}
#名字 p{
    font-size: 35px;
    text-align: center;
}
#头像区{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#钱包区上部 p{
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;

}
#钱包区上部{
    border-bottom:1px solid #c9c7c7;

}
#钱包区下部{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#钱包区{
    display: flex;
    flex-direction: column;
    width: 890px;
}
#钱包区下部 p{
    font-size: 25px;
    text-align: center;
}
#钱包区下部 h1{
    font-size: 50px;
    text-align: center;
}
#中部{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}
#常购清单{
    width: 360px;
    margin-right: 30px;
    height: 250px;
    background-color: white;
}
#日历{
    width: 360px;
    height: 250px;
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
}
#生活服务{
    width: 360px;
    margin-left: 30px;
    height: 250px;
    background-color: white;
}
#常购清单上部{
    border-bottom:1px solid #c9c7c7;
    font-size: 20px;
    padding-left: 20px;
}
#常购清单下部{
    margin-top: 30px;
}
#常购清单下部 img{
    margin-left: 7.5px;
    margin-right: 7.5px;
}
#日历{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 255, 190);
}
#日{
    font-size: 130px;
    color: white;
}
#星期{
    color: white;
    font-size: 20px;
}
#年月{
    color: white;
    font-size: 30px;
}
#生活服务上部{
    border-bottom:1px solid #c9c7c7;
    font-size: 20px;
    padding-left: 20px;
}
#生活服务下部{
    height:180px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#生活服务块{
    height: 89px;
    width: 118px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c5c7;
}
#生活服务块 p{
    margin: 0px;
    color: #9b8066;
}
#生活服务块{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#下部{
    width: 1200px;
    background-color: white;
    height: auto;
    margin-bottom: 100px;
}
.el-tabs__item{
    height: 80px!important;
    font-size: 25px!important;
}
.el-tabs--left .el-tabs__item.is-left {
    text-align: center!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    border-bottom:1px solid #42a8fc;
    width: 200px!important;
    background-color: #c4e6fa!important;
}
.el-tabs--left .el-tabs__active-bar.is-left{
    height: 81px!important;
}
.el-tab-pane{
    padding-left: 30px;
}
.el-input{
    width: 200px!important;
}
#用户名区{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#邮箱区{
    display: flex;
    flex-direction: row;
}
#前缀{
    width: 100px;
    height: 65px;
    font-size: 20px;
}
#标题{
    border-bottom:1px solid #c9c7c7;
}
.box-card {
    width: 290px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 220px;
  }
  #添加地址容器{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #收货地址区{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1010px;
    height: auto;
    padding-top: 20px;
}
#修改密码表单{
    margin-top: 30px;
    margin-left: 30px;
}
#底部{
    background-color: rgba(5, 184, 44, 0.815);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.el-tabs__content {
    margin-bottom: 50px!important;
}